body {
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	background: #ffffff;
}
.wrap
{
	width: 80%;
	margin: 0 auto;
}

.header{
	padding: 1.3em 0em;
}
.logo{
	float: left;
}
.logo a {
	display: block;
}

.nav {
	float: right;
	margin-top: 0.82em;
}
.nav > ul > li {
  	display:inline-block;
}
.nav > ul > li.portfolio a{
	color: #ffffff;
	background: #d0a5a5;
}
.nav > ul > li > a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	display: block;
	font-size: 1em;
	color: #444;
	padding: 0.5em 1em;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.nav > ul > li > a:hover {
	color: #ffffff;
	background: #d0a5a5;
}
.text {
	padding: 20% 0%;
	
}
.text h2 {
	color: #FFF;
	font-size: 3em;
	font-weight: 700;
	z-index: 10;
	text-align: center;
	position: relative;
    margin-top: -140px;
	
	
}
.text h2 span {
	font-size: 1em;
	font-weight: 300;
	
}
.text p {
	color: #FFF;
	font-size: 1.2em;
	text-align: center;
	margin: 1.5em auto;
	width: 77%;
	font-weight: 200;
	line-height: 1.4em;
}
.text .da-butt {
	background-color: #a97b7b;
	display: block;
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 auto;
	width: 10%;
	text-align: center;
	padding: 1em 2em;
	
}


body {
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	background: #ffffff;
}

.container h2{
	color:#4D4D4D;
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: center;
	
}
.container p{
	color:#444444;
	font-size: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.gallery{
	margin-top: 4% 0%;
}
.gallery1 {
	padding: 4em 0em;
}
.container { 
	position: relative; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
    	
}

.work {
	text-align: center;
	width: 100%;
}

.work img {
	margin: 1%;
	width: 45%;
}

.about{
    color:#fff;
	background-color: #a87a7a; 
	text-align:center; 
	padding: 5em 0em; 
	} 
.wrap_about{
	width: 90%; 
	margin: 0 auto;
	
	}
.about h2{ 
	font-size:2em;
	padding-bottom: 0.5em;
   }
.about p{
	font-size:1em;
	padding-bottom: 4em;
  }
.grid{   
    width: 30%;
	float: left;
	background: #fff;
	margin: 0 1.5% 0 1.5%;
	border: 1px solid black;
	min-height: 508px;
   }
.grid  h3{
	color: #292828;
	font-size: 1.4em;
	margin-top: 15px;
   }
.grid  p {
	color: #444444;
	font-size: 1.02em;
	text-align: left;
	padding: 1em 1em 2em 1em;
	line-height: 1.9em;
}
.clear{clear:both;}

#contact {
	background-color: #ebebeb;
}
#contact h2{
	color:#444444;
	font-size:2em;
	padding: 2em 0em 0.7em 0em;
	text-align: center;
}
#contact h4{
	color:#444;
	font-size:1em;
	text-align: center;
}
#contact h5{
	color:#444;
	font-size:1em;
	padding-bottom: 2em;
}
.wrap_contact
{
	width: 87%;
	margin: 0 auto;
}

.col{
	display: block;
	float:left;
	margin: 4% 0 4% 1.6%;
	}
.col:first-child{
	margin-left:0; 
}	
.span_2_of_3 {
	width: 66.1%; 
	}
.span_1_of_3 {
	width: 32.2%; 
	}
.contact-form{
	padding-bottom:30px;
	}
.contact-form div{
	padding:5px 0 15px;
}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{
	padding: 15px;
	display: block;
	width: 41%;
	background:#fff;
	outline: none;
	color:#888282;
	font-size: 0.8125em;
	-webkit-appearance: none;
	float:left;
	margin-right: 2em;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	border: 2px solid #cacaca;
}
.contact-form input[type="email"]
{
	margin-right: 0em;
}
.contact-form textarea{
	padding: 18px;
	display: block;
	width: 94%;
	height:180px;
	background:#fff;
	outline: none;
	color:#888282;
	font-size: 0.8125em;
	font-style: italic;
	border:2px solid #cacaca;
	margin-bottom: 2em;
	}

.contact-form form input[type="submit"] 
{
	font-family: 'Lato', sans-serif;
	color:#fff;
	padding: 0.8em 1.5em;
	background: #a97b7b;
	border:none;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	font-size: 1em;
	outline: none;
	text-transform: uppercase;
	float: right;
	margin-right: 2%;	
}


.clear{clear:both;}

footer {
	padding: 25px 0;
	background: #303441;
	}
.copy  {
	color: #666d89;
	font-size: 0.8125em;
	line-height: 1.8em;
	text-align: center;
	}
.copy a {
	color: #eee;
}
.copy a:hover {
	color: #a97b7b;
}
